[user]
  name = Theodros Yimer
  username = theodrosyimer
  email = "12742021+theodrosyimer@users.noreply.github.com"
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGDURDVbhjnuW7Wkk/d/Xn5vTmCZ6j51GcwmSzZ8YVSG

# # if needed use separate file for username / email / github token / etc
# [include]
#   path = ~/.dotfiles/git/.gitconfig.local

[includeIf "gitdir:~/dev/projects/work/etna/"]
  path = ~/dev/projects/work/etna/.gitconfig-etna

[includeIf "gitdir:~/dev/projects/work/coqagile/elody/"]
  path = ~/dev/projects/work/coqagile/elody/.gitconfig-elody

[includeIf "gitdir:~/dev/projects/work/coqagile/parko/"]
  path = ~/dev/projects/work/coqagile/parko/.gitconfig-parko

[includeIf "gitdir:~/dev/projects/school/etna/bachelor/pli/swampi/"]
  path = ~/dev/projects/school/etna/bachelor/pli/.gitconfig-swampi

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[core]
  editor = cursor --wait
  pager = delta
  excludesfile = ~/.gitignore_global
  autocrlf = input

[init]
  defaultBranch = main

[fetch]
  prune = true  # Auto-remove deleted remote branches

[commit]
  status = false
  template = ~/.dotfiles/git/templates/commit-message.txt
	gpgsign = true

[pull]
	rebase = true

[push]
  default = current
  autoSetupRemote = true

[rebase]
  autoStash = true  # Auto-stash/unstash during rebase

[branch]
  sort = -committerdate

# REuse REcorded REsolution
[rerere]
  enabled = true

# automatic maintenance
[maintenance]
	auto = false # Helps with performance and disk usage if needed
  strategy = incremental

# [credential]
# helper = osxkeychain

[alias]
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  h = log --graph --decorate --abbrev-commit --date=relative --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)'
  ec = config --global -e
  undo = reset --soft HEAD^
  undom = reset --mixed HEAD^

[log]
  date = relative  # Makes `l` alias consistent with `h`

[column]
	ui = auto

[delta]
  syntax-theme = Dracula
  line-numbers = true

[interactive]
    diffFilter = delta --color-only

[diff]
  tool = cursor
  colorMoved = default  # Highlight moved code blocks

[difftool "cursor"]
  cmd = $EDITOR --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = cursor
  log = true

[mergetool "cursor"]
  cmd = $EDITOR --wait \"$MERGED\"
  trustExitCode = true

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
