.DS_Store
.lsp
.clj-kondo
**/.clj-kondo
**/.vscode
**/.lsp
**/.DS_Store
karabiner/automatic_backups
karabiner/assets

npm
skhd
yabai
# Brewfile
personal/*
ansible/*
nvim/undo
nvim.bak
git/.gitconfig.local

!obsidian
